#title{
  color: black;
  font-family: 'Anton', sans-serif;
}
#header{
	position: relative;
  top: 0;
  padding: 0;
  background-color: rgb(29, 198, 3);
  border-bottom: 6px rgb(18, 114, 3);
}

#links{
  position: absolute; 
  font-family: 'Anton', sans-serif;
  top: 10px;
  right: 10px;
  color: black;
  }

#subtitle{
  font-family: 'Anton', sans-serif;
}

.header{
  font-family: 'Hind', sans-serif;
  background-color: rgb(29, 198, 3);
  padding: 10px;
}

.maintext{
  font-family: 'Hind', sans-serif;
}

#theend{
  font-family: 'Hind', sans-serif;
}

#script{
  font-family: 'monospace', monospace;
  font-size: 75%;
  background: rgb(0,0,0);
  color: rgb(57,255,20);
  padding: 15px;
  width: 1297px;
  height: 200px;
  border: 1px solid rgb(45, 163, 29);
  overflow: scroll;
}

/*body{ 
}*/

a{
  color: black;
}

p.ad1{
	color: rgb(220, 0, 255);
}
img.ad1{
    display: block;
     margin-left: auto;
     margin-right: auto;
     width: 100%
}
div.ad1{
	background-color: rgb(220, 0, 255);
	height:70px;
	display:flex;
	justify-content:center;
	align-items:center;
}
.ads:hover{
	color: white;
}
.ad1{
	font-family: 'Black Ops One', cursive;
	text-align: center;
	}
img.ad2{
	position:relative;
	width:750px;
	height:130px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
b.ad2{
	color:purple;
}
#thanos{
	position: relative;
	left: 200px;
	width: 200px;
	height:342px;
	border:5px solid rgb(220, 0, 255);
}
#map{
	border:2px solid black;
}
#michael{
	width:900px;
	height:150px;
}
.ads{
	text-decoration:none;
}
